<meta name="description" content="{{meta_description}}">

<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tyronetudehope">
<meta name="twitter:creator" content="@tyronetudehope">
<meta name="twitter:title" content="{{meta_title}}">
<meta name="twitter:description" content="{{meta_description}}">

<!-- styles -->
<link rel="stylesheet" href="@/css/main.css" embed/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{base}}assets/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{base}}assets/static/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{base}}assets/static/images/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="{{base}}assets/static/images/favicon.svg">
<link rel="mask-icon" href="{{base}}assets/static/images/safari-pinned-tab.svg" color="#f53190">
<meta name="theme-color" content="#f53190">

<!-- atom -->
{% if section %}
<link type="application/atom+xml" rel="alternate" href="{{base}}{{section.prefix}}feed.xml" title="{{section.title}}" />
{% endif %}
