@import "_common.css";

:root {
  --body-font: Georgia, serif;

  --dark-background-color: #ff60ad;
  --dark-text-color: white;
  --light-background-color: white;
  --light-text-color: white;

  --text-highlight-color: #2b3445;
}

@media (prefers-color-scheme:light){
  :root {
    --background-color: var(--light-background-color);
  }
}

html {
  color: white;
}

p.error {
  background-color: var(--text-highlight-color);
  padding: 1rem;
  border-radius: 10px;
}
