@import "_common.css";

html {
  & a {
    color: var(--text-color);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav {
  padding: 16px 0.5rem 16px 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;

  & button#mode {
    margin: 0;
    padding: 3px 3px 0 3px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -25%;
  }

  & div.brand {
    font-family: var(--header-font);
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;

    & a {
      display: inline-block;
      color: var(--primary-color);
      text-decoration: none;
    }

    & svg {
      padding: 2px;

      .logo {
        fill: var(--primary-color);
      }
    }

    & span {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 60em) {
  nav {
    justify-content: flex-start;

    & div.brand {
      text-align: left;
    }

    & ul.nav {
      width: auto;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 30em) {
  nav {
    padding-left: 1rem;
    padding-right: 2rem;
  }
}

a {
  &:focus-visible {
    text-decoration: none !important;
    border-radius: 0.25rem;
    outline: 0.25rem solid var(--content-highlight-color);
  }
}

section {
  padding: 30px 0 60px 0;

  & header {
    padding: 30px 0 60px 0;
    display: inline-block;
    width: 100%;

    & h2 {
      font-size: 2em;
      font-family: var(--header-font);
      font-weight: 600;
      margin: 0;
      padding: 0;
      letter-spacing: -1px;
      text-decoration: underline;
      text-decoration-thickness: 0.5rem;
      text-decoration-color: var(--content-highlight-color);
      word-break: break-word;
    }
  }
}

header h1, section h2 {
  z-index: 999999;
  position: relative;
}

header h1 {
  font-family: var(--header-font);
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

section {
  padding: 30px 0 60px 0;
}

section .container {
  padding-top: 20px;
}

ul, ol {
  list-style-position: outside;
  padding-left: 1.2em;
}

footer {
  padding: 30px 0;
  background-color: black;
  color: var(--text-color);

  & ul {
    list-style-type: none;
    padding-left: 0;
  }

  & a {
    color: var(--dark-primary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer h4 {
  font-size: 1.2em;
  font-weight: 800;
}

footer img {
  width: 40px;
  padding: 0 10px;
}

footer .attribution {
  color: var(--dark-text-color);
  text-align: center;
}

h3, .post h2, header h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: -1px;
}

header h1 {
  letter-spacing: 1px;
}

#reports {
  display: flex;
  flex-direction: column;
}
