+++
+++
{% extends "_layout/layout.html" %}
{% block page %}
<div class="page-width" style="display: grid;">
  <ul id="reports">

  </ul>
</div>
<script type="application/javascript">
  const SPRINT_START_DAY = 4; // Thursday

  const formatDate = (date) => {
    let year = date.getFullYear();
    let month = String(date.getMonth() + 1).padStart(2, '0');
    let day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }

  const getFormattedSprintDates = () => {
    const currentDate = new Date();
    let dayOfWeek = currentDate.getDay();

    let daysToSprintStart = (dayOfWeek + (7 - SPRINT_START_DAY)) % 7;
    const startDate = new Date();
    startDate.setDate(currentDate.getDate() - daysToSprintStart);

    daysToSprintStart = ((SPRINT_START_DAY - 1) - dayOfWeek + 7) % 7;
    console.log(daysToSprintStart)
    const endDate = new Date(startDate);
    endDate.setDate(currentDate.getDate() + daysToSprintStart);

    if (endDate < startDate) {
      endDate.setMonth(endDate.getMonth() + 1);
    }

    return [formatDate(startDate), formatDate(endDate)]
  }

  const getFormattedSemimonth = () => {
    // Remember: Months start at 0 in js, days start at 1 LOL
    const now = new Date();
    const currentDate = now.getDate();
    if (currentDate > 15) {
      return [
        formatDate(new Date(now.getFullYear(), now.getMonth(), 16)),
        formatDate(new Date(now.getFullYear(), now.getMonth(), 0)),
      ];
    } else {
      return [
        formatDate(new Date(now.getFullYear(), now.getMonth(), 1)),
        formatDate(new Date(now.getFullYear(), now.getMonth(), 15)),
      ]
    }
  }


  const [sprintStart, sprintEnd] = getFormattedSprintDates();
  const [monthStart, monthEnd] = getFormattedSemimonth();

  const reports = [
    [
      'Daily POA: Dev',
      `https://fostercommerce.harvestapp.com/reports/detailed?group=dates&tasks%5B%5D=13422519&tasks%5B%5D=13422198&tasks%5B%5D=14157120&start_date=${sprintStart}&end_date=${sprintEnd}`,
    ],
    [
      'Daily POA: Lead Dev',
      `https://fostercommerce.harvestapp.com/reports/detailed?group=dates&tasks%5B%5D=19695856&tasks%5B%5D=19661728&tasks%5B%5D=19706434&start_date=${sprintStart}&end_date=${sprintEnd}`,
    ],
    [
      'Daily Flex: Dev',
      `https://fostercommerce.harvestapp.com/reports/detailed?group=dates&tasks%5B%5D=18483446&start_date=${sprintStart}&end_date=${sprintEnd}`,
    ],
    [
      'Today',
      'https://fostercommerce.harvestapp.com/time',
    ],
    [
      'Semimonth',
      `https://fostercommerce.harvestapp.com/reports?kind=semimonth&tab=tasks&from=${monthStart}&till=${monthEnd}`,
    ],
  ]

  const reportEl = document.getElementById('reports');
  for (const report of reports) {
    const li = document.createElement('li');
    const anchor = document.createElement('a');
    anchor.textContent = report[0];
    anchor.href = report[1];
    anchor.target = '_blank';
    li.appendChild(anchor);
    reportEl.appendChild(li);
  }
</script>
{% endblock page %}
